body{
  background-image: url('../img/telapc.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction:column;
  justify-content: center;  
  align-items: center;    
  min-height: 100vh;     
}

.BtoFechar
{
    font-size: large;
    position: absolute;
    border: solid 3px black;
    background-color: crimson;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    top: 2%;
    right: 1%;
    cursor: pointer;
}

.Formulario
{
  width: 380px;
  height: 220px;
  padding: 25px 30px;
  background-color: rgb(29, 29, 29);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(92, 92, 92, 0.6);
  text-align: center;
}

.enviar {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 255, 0);
  cursor: pointer;
  transition: 0.5s;
}

.enviar:hover {
  background-color: rgb(163, 163, 23);
  color: white;
}

input
{
    margin: 10px;
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 5px;
}

.titulo{
    position: absolute;
    font-weight: bolder;
    color: rgb(255, 255, 0);
    text-shadow: 3px 3px 20px rgb(199, 199, 0);
    font-size: 5em;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aviso
{
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    font-weight: 700;
}