body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/batpc.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.tela {
    position: absolute;
    width: 23%;
    height: 40%;
    aspect-ratio: 1.4; 
    cursor: pointer;
    border: 4px solid rgba(255,255,255,0); 
    transition: 0.2s;
    top: 14%;
    left: 38%;
}

.tela:hover {
    border-color: #00d9ff;
    border: 3px 3px 3px 3px;
    border-style: solid;

}