body{
    background-image: url('../img/batpc.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
    margin: 0;
}

.tela {
    position: absolute;
    width: 23%;
    height: 40%;
    aspect-ratio: 1.4; 
    cursor: pointer;
    border: 4px solid rgba(255,255,255,0); 
    transition: 0.2s;
    top: 14%;
    left: 38%;
}

.tela:hover {
    border-color: #00d9ff;
    border: 3px 3px 3px 3px;
    border-style: solid;

}

input{
    margin-top: 10px;
    width: 85%;
}

ul {
    margin-left: 20px;
    list-style: none;
    display: flex; 
    gap: 20px;
    padding: 0;
}

.logout{
    width:50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url('../img/logout.png');
    background-size: contain;
}

#popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.caixa {
    width: 70%;
    height: 80%;
    background: blue;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.escondido {
    pointer-events:none;
    z-index: -2;
    opacity: 0;
    display: none;
}