body
{
    justify-content: center;
    text-align: center;
    justify-items: center;
    background-color: black;
}

.Formulario
{
    margin-top: 200px;
    text-align: center;
    border: 5px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    height: 180px;
}

input, label
{
    margin: 10px;
    color: rgb(150, 150, 150);
}

.titulo{
    font-weight: bolder;
    color: rgb(255, 255, 0);
    text-shadow: 5px 3px 3px rgb(199, 199, 0);
    font-size: 5em;
}

ul {
    margin-left: 20px;
    list-style: none;
    display: flex; 
    gap: 20px;
    padding: 0;
}
header{
    border: 3px solid black;
    width: 100%;
    height: 50px;
    margin: 20px;
}