body
{
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.Formulario
{
    margin-top: 200px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    height: 180px;
}

input, label
{
    margin: 10px;
}

.titulo{
    font-weight: bolder;
}

ul {
    margin-left: 20px;
    list-style: none;
    display: flex; 
    gap: 20px;
    padding: 0;
}
header{
    border: 3px solid black;
    width: 100%;
    height: 50px;
    margin: 20px;
}