body
{
    justify-content: center;
    text-align: center;
    justify-items: center;
    background-color: rgb(71, 71, 71);
}

.Formulario
{
    position: absolute;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input
{
    margin: 10px;
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 5px;
}

label
{
    
}

.titulo{
    font-weight: bolder;
    color: rgb(255, 255, 0);
    text-shadow: 5px 3px 3px rgb(199, 199, 0);
    font-size: 5em;
}

ul {
    margin-left: 20px;
    list-style: none;
    display: flex; 
    gap: 20px;
    padding: 0;
}
header{
    border: 3px solid black;
    width: 100%;
    height: 50px;
    margin: 20px;
}

.aviso
{
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    font-weight: 700;
}