body{
    background-image: url('../img/telapc.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
    margin: 0;
    color: white;
}

#popup_itens,#popup_viloes,#popup_veiculos,#popup_trajes{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.caixa {
    width: 70%;
    height: 80%;
    background: blue;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.escondido {
    pointer-events:none;
    z-index: -2;
    opacity: 0;
    display: none;
}
