body{
    background-image: url('../img/telapc.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
    margin: 0;
    color: white;
}

.BtoFechar
{
    font-size: large;
    position: absolute;
    border: solid 3px black;
    background-color: crimson;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    top: 2%;
    right: 1%;
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: inherit;
}
