body{
    background-image: url('../img/telapc.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.menu {
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.botoes{
    font-size: 35px;
    width: 250px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 5px yellow;
    background-color: blue;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.botoes:hover{
    transition: 0.5s;
    background-color: rgb(255, 255, 0);
    color: black;
}


.BtoFechar
{
    font-size: large;
    position: absolute;
    border: solid 3px black;
    background-color: crimson;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    top: 2%;
    right: 1%;
}

.titulo{
    position: absolute;
    font-weight: bolder;
    color: rgb(255, 255, 0);
    text-shadow: 3px 3px 20px rgb(199, 199, 0);
    font-size: 5em;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    color: inherit;
    text-decoration: inherit;
}

button{
    cursor: pointer;
}
