body{
    background-image: url('../img/telapc.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Orbitron', sans-serif;
    display: block;
}

.menu {
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.botoes:hover{
    transition: 0.5s;
    background-color: rgb(255, 255, 0);
    color: black;
}


.BtoFechar
{
    font-size: large;
    position: absolute;
    border: solid 3px black;
    background-color: crimson;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    top: 2%;
    right: 1%;
}

.BtoFechar:hover{
    transition: 0.5s;
    background-color: rgb(216, 0, 0);
    color: white;
}

.titulo{
    position: absolute;
    font-weight: bolder;
    color: rgb(255, 255, 0);
    text-shadow: 3px 3px 20px rgb(199, 199, 0);
    font-size: 5em;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    cursor: pointer;
}

.container {
display: flex;
gap: 20px; 
}

.card {
    width: 250px;
    height: 300px;
    border: 5px solid rgb(255, 255, 172); 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 25px yellow;
}

.card img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
}

.bat1
{
    position: absolute;
    top: 40%;
    left: 28%;
}
.bat2
{
    position: absolute;
    top: 40%;
    left: 43%;
}
.bat3
{
    position: absolute;
    top: 40%;
    left: 58%
}