.janela_conversa{
    border: 3px solid black;
    width: 250px;
    height: 350px;
    padding: 10px;
    text-align: left;
    background-color: rgb(75, 75, 75);
    position: absolute;
    bottom: 20px;
    right: 20px;
    
}

.logout{
    width:50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url('../img/logout.png');
    background-size: contain;
}

.janela_conversa p{
    display: block;
    width: fit-content;
    padding: 6px 10px;
    margin: 4px 0;
    border-radius: 8px;
    margin-right: auto;
    max-width: 160px;
    border: 1px solid black;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}
.flashmensagem{
    background: #ff7c02;
}
.batmensagem{
    background: #000000;
    color: white;
}
.supermensagem{
    background: #748cf7;
}
input{
    margin-top: 10px;
    width: 85%;
}
.mensagens{
    max-height: 300px;
    overflow-y: auto; 
}